* {
    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
}

.slides-wrapper {
    overflow: hidden;
    position: relative;
}

/* 
the wrapper of the slides - 
will be large x times 100vw times slide 
covers the whole screen
*/
.slides {
    display:flex;
    width:100vw;
    height: 100vh;
    transition: 300ms;
}

/* the actual slide content */
.slide {
    min-width: 100%;
    min-height: 100%;
    flex-basis: 100%;
    padding:20vw;
    background:red;
}

.slide + .slide {
    background: blue;
}

.navigationbutton {
    position: absolute;
    left:0;
    top:50%;
    cursor: pointer;
    font-size: 24px;
}

.navigationbutton.right {
    left:inherit;
    right:0;
}


.circlenav {
    display:flex;
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
}

.circlenav .navigationbutton {
    position: relative;
    padding: 1rem;
}